/* dede58.com 做最好的织梦模板 */
#footer {
	margin-top:0;
}
.area {
	text-align:left;
	width:100%;
	background-position: 50% 0;
}
.area .box {
	margin:0 auto;
	width:980px;
}
#area {
	background-color:#FFF;
}
#area1 {
	height: 200px;
	background-image: url(../images/area_01.jpg);
}
#area2 {
	height: 200px;
	background-image: url(../images/area_02.jpg);
}
#area3 {
	height: 200px;
	background-image: url(../images/area_03.jpg);
}
#area4 {
	height: 200px;
	background-image: url(../images/area_04.jpg);
}
#area5 {
	height: 200px;
	background-image: url(../images/area_05.jpg);
}
#area6 {
	height: 200px;
	background-image: url(../images/area_06.jpg);
}
#area7 {
	height: 200px;
	background-image: url(../images/area_07.jpg);
}
#area8 {
	height: 200px;
	background-image: url(../images/area_08.jpg);
}
#area9 {
	height: 200px;
	background-image: url(../images/area_09.jpg);
}
#area10 {
	height: 200px;
	background-image: url(../images/area_10.jpg);
}
#area11 {
	height: 200px;
	background-image: url(../images/area_11.jpg);
}
#area12 {
	height: 200px;
	background-image: url(../images/area_12.jpg);
}
#area13 {
	height: 200px;
	background-image: url(../images/area_13.jpg);
}
#area14 {
	height: 200px;
	background-image: url(../images/area_14.jpg);
}
#area15 {
	height: 200px;
	background-image: url(../images/area_15.jpg);
}
#area16 {
	height: 200px;
	background-image: url(../images/area_16.jpg);
}
#area17 {
	height: 200px;
	background-image: url(../images/area_17.jpg);
}
#area18 {
	height: 200px;
	background-image: url(../images/area_18.jpg);
}
#area19 {
	height: 69px;
	background-image: url(../images/area_19.jpg);
}
#area4 .div1 {
	margin:-16px 0 0 866px;
	width:113px;
	height:56px;
}
#area6 .div1 {
	margin:170px 0 0 866px;
	width:113px;
	height:56px;
}
#area12 .div1 {
	margin:29px 0 0 888px;
	width:113px;
	height:56px;
}
#area14 .div1 {
	margin:95px 0 0 868px;
	width:133px;
	height:56px;
}
#area16 .div1 {
	margin:6px 0 0 868px;
	width:133px;
	height:56px;
}
#area17 .div1 {
	margin:62px 0 0 21px;
	width:231px;
	height:40px;
}
#area17 .div2 {
	margin:62px 0 0 273px;
	width:231px;
	height:40px;
}
#area17 .div3 {
	margin:62px 0 0 521px;
	width:231px;
	height:40px;
}
#area17 .div4 {
	margin:62px 0 0 772px;
	width:231px;
	height:40px;
}
#area18 .div1 {
	margin:97px 0 0 21px;
	width:231px;
	height:40px;
}
#area18 .div2 {
	margin:97px 0 0 273px;
	width:231px;
	height:40px;
}
#area18 .div3 {
	margin:97px 0 0 521px;
	width:231px;
	height:40px;
}
#area18 .div4 {
	margin:97px 0 0 772px;
	width:231px;
	height:40px;
}
#area18 .div5 {
	margin:160px 0 0 872px;
	width:110px;
	height:20px;
}
#area19 .div1 {
	margin:0px 0 0 21px;
	width:960px;
	height:58px;
}
